h1{
    justify-content: center;
        text-align: center;
        color: #C51605;
        margin-top: 150px;
        
 font-family: 'Dancing Script', cursive;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Tilt Prism', cursive;
}
body{
    background-color: #FFE17B;
    margin: 0;
    padding: 0;
    height: 100vk;
   
}
.container_1{
   display: flex;
   position: fixed;
   top: 10px;
   left: 10px;
   gap: 10px;
}
.button{
    background-color: #FD8D14;
    color: black;
    border-radius: 10px;
}
.podsumowanie{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    text-align: center;
    bottom: 30px;
    gap: 30px;
}
.firma{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    text-align: center;
    bottom: 5px;
    gap: 30px;

}